<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Map page:</h1>
    <div id="map" style="width:500px;height:380px;"></div>
    <script>
      var map;
  
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: 40.00790356892552,
            lng: -105.26975530161658
          },
          zoom: 16
        });
      }
      function changeMap(latInput, longInput){
        const latitude = parseFloat(latInput);
        const longitude = parseFloat(longInput);
        const location = { lat: latitude, lng: longitude };
        map = new google.maps.Map(document.getElementById('map'), {

          center: {
            lat: latitude,
            lng: longitude
          },
          zoom: 16
        });
        const marker = new google.maps.Marker({
          position: location,
          map: map,
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=locals.key%>&callback=initMap" async defer>
    </script>
  </div>
  <div class="container">
    <table class="table">
      <centre>
        <thead>
          <tr>
            <th scope="col">SPOT NAME</th>
            <th scope="col">AVERAGE RATING</th>
          </tr>
        </thead>
        <tbody>
            <%spots.forEach(function(spot){ %>
                <tr>
                    <td><%= spot.name %></td>
                    <td><%= spot.avg_rating %></td>
                    <td>
                      <button class="button btn-primary" onClick='changeMap("<%= spot.lat %>","<%= spot.long %>")'>View Location</button>
                    </td>
                  </tr>
            <% }); %> 
        </tbody>
      </centre>
    </table>
    <div><%- include ('../partials/message') %></div>
  </div>
</main>

<%- include ('../partials/footer') %>